.question-adding-page-answer-one {
  display: inline-block;
  margin-right: 5px;
  margin-top: 50px;
  margin-top: 5px;
  cursor: pointer;
  width: 40%;
  margin-left: 10%;
  height: 100px;
  border: 2px solid;
  border-radius: 25px;
  padding: 20px 0 0 0;
  text-align: center;
}

.question-adding-page-answer-two {
  display: inline-block;
  margin-right: 5px;
  margin-top: 50px;
  cursor: pointer;
  width: 40%;
  height: 100px;
  border: 2px solid;
  border-radius: 25px;
  padding: 20px 0 0 0;
  text-align: center;
}

.question-adding-page-button {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 15px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 2px solid black;
  border-radius: 15px;
  font-size: 16px;
  margin-top: 50px;
  margin-left: 40%;
}

.question-adding-page-title {
  margin-top: 200px;
}

.question-adding-page-errormessage {
  margin-top: 5px;
  color: red;
}

.question-adding-page-input {
  margin-left: 20px;
  width: 80%;
  padding: 12px 20px;
  margin: 20px 10px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

.question-adding-page-input[type='submit']:hover {
  background-color: #4caf50;
}

.question-adding-page-title-wrapper {
  width: 100%;
  text-align: center;
}
