.question-title {
  position: fixed;
  left: 43%;
  width: 30em;
  top: 150px;
  font-size: xx-large;
}
.question-subtitle {
  position: fixed;
  left: 43%;
  width: 30em;
  top: 190px;
  font-size: small;
}

.question-poll-option-one {
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
  width: 40%;
  margin-left: 10%;
  height: 50px;
  border: 2px solid;
  border-radius: 25px;
}

.question-poll-option-two {
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
  width: 40%;
  height: 50px;
  border: 2px solid;
  border-radius: 25px;
}

.question-poll-question-poll {
  width: 100%;
  margin: 0 auto;
}

.answer-wrapper {
  margin-top: 100px;
}

.question-poll-option-one-selected {
  display: inline-block;
  margin-right: 5px;
  width: 40%;
  margin-left: 10%;
  height: 50px;
  border: 2px solid;
  border-radius: 25px;
  background-color: #04aa6d;
}

.question-poll-option-two-selected {
  display: inline-block;
  margin-right: 5px;
  width: 40%;
  height: 50px;
  border: 2px solid;
  border-radius: 25px;
  background-color: #04aa6d;
}

.question-poll-avatar {
  margin-left: 35%;
  margin-top: 60px;
  height: 100px;
}
