.question-poll-option-one {
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
  width: 40%;
  margin-left: 10%;
  height: 50px;
  border-radius: 25px;
}

.question-poll-option-two {
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
  width: 40%;
  height: 50px;
  border-radius: 25px;
}

.question-poll-question-poll {
  width: 100%;
  margin: 0 auto;
}

.answer-wrapper {
  margin-top: 200px;
}
